h1 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #470665;
  line-height: 30px;
}

h2 {
  font-family:'Tinos', serif;
  font-weight: 300;
  font-size: 20px;
}

.text-white {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
  margin-top: 3px;
  margin-bottom: 15px;
}

body {
  background-color: #DCD5EB;
  font-family: 'Gill Sans', sans-serif;
}

a {
  text-decoration: none;
  font-size: 40px;
  color:#470665;
}

a:hover {
  color:brown;
  transition-duration: 1s;
}

.container {
  width: 600px;
  margin: 20px auto;
}

.card {
  background: #F1E8B8;
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(0,0,0,.25);
  border: #47066575 solid 1px;
}

.circle-image {
  display: block;
  border-radius: 50%;
  padding: 5px auto;
  border:#470665, solid, 3px;
}

.avatar {
  margin: auto;
}

.text-center {
  text-align: center;
}

.list-inline {
  padding-left: 0px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
  vertical-align: middle;
}

.box-orange {
  background-color: #E58F65;
  border: #47066575 solid 1px;
  border-radius: 15px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.main-info {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-top: 10px;
}

.bold-text {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #470665;
  vertical-align: bottom;
  padding-top: 15px;
}

.text-years {
  padding-bottom: 20px;
}

.list-description {
  padding: auto;
  text-align: justify;
}

.list-description > li {
  list-style: none;
  line-height: 20px;
  padding-left: 45px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 90%;
  }

  .box-orange {
    width: 90%;
  }

  .card {
    width: 90%;
  }
}
